/* dark mode strategy from https://ryanfeigenbaum.com/dark-mode/ */

:root[color-mode="dark"] {
    --surface1: #222;
    --surface2: #333;
    --surface3: #444;
    --element1: #eee;
    --element2: #ddd;
    --element3: #ccc;
    --elementInverse: #111;
    --primary: #ffade7;
    --secondary: #91E6F3;
    --tertiary: #eee8a9;
}

:root[color-mode="light"] {
    --surface1: #e0e0e0;
    --surface2: #f0f0f0;
    --surface3: #fff;
    --element1: #111;
    --element2: #333;
    --element3: #666;
    --elementInverse: #eee;
    --primary: #b94c99;
    --secondary: #1aa0b4;
    --tertiary: #9e9210;
}
:root[color-mode="dark"] .dark-hide {
    display: none;
}
:root[color-mode="light"] .light-hide {
    display: none;
}


html {
    height: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    background-color: var(--surface1);
    font-family: "Hack NF";
    color: var(--element1);
    padding: 8px;
}
a {
    color: var(--primary);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}
button {
    background-color: var(--surface2);
    color: var(--element1);
    border: none;
    padding: 4px 6px;
}
button:hover {
    cursor: pointer;
}
button:active {
    background-color: var(--surface3);
}
#content {
    margin: auto;
    width: 600px;
}
.js-disabled-hide {
    display: none;
}
.text-color-1 {
    color: var(--primary);
}

.text-color-2 {
    color: var(--secondary);
}

.text-color-3 {
    color: var(--tertiary);
}

.surface-2 {
    background-color: var(--surface2);
}

.surface-3 {
    background-color: var(--surface3);
}